@model K22CNT3_2210900084_project02.Models.CHI_TIET_GH

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_BAV2210900084Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CHI_TIET_GH</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Ma_GH)

        @Html.HiddenFor(model => model.Ma_SP)

        <div class="form-group">
            @Html.LabelFor(model => model.So_luong, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.So_luong, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.So_luong, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "BAVIndex")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
