@model K22CNT3_2210900084_project02.Models.CHI_TIET_DH

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_BAV2210900084Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CHI_TIET_DH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.So_luong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.So_luong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Don_gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Don_gia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DON_HANG.Trang_thai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DON_HANG.Trang_thai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SAN_PHAM.Ten_SP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SAN_PHAM.Ten_SP)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("BAVEdit", "BAVEdit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("BAVBack to List", "BAVIndex")
</p>
